.editable-cell {
    position: relative;
  }
  
  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  body {
    overflow-x: hidden;
  }
    /* the slides */
    .slick-list {margin: 0 -5px;}
    .slick-slide>div {padding: 0 5px;}
  li {
    font-weight: bold;
  }
  .image-container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .responsive-image {
    width: 100%;
    height: auto;
  }